# Environment Variables
.env

# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database / Alembic local stuff (optional, but good)
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db